<% breadcrumbs.unshift '<a href="/">Home</a>' %>
<!doctype html>
<html>
  <head>
    <title>4pdj</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if current_page.data['tags'] %>
    <meta name="keywords" content="<%= current_page.data['tags'].join(', ') %>">
    <% end %>
    <link rel="alternate"  href="/feed.xml" title="4pdj" type="application/atom+xml">
    <!-- License info content within 4pdj.css and 4pdj.js (bundled with sprockets and minified):
         - jQuery v1.7.2 jquery.com | jquery.org/license 
         - Bootstrap v2.3.2 | Copyright 2012 Twitter, Inc.
         - Lightbox v2.51 | Lokesh Dhakar - http://www.lokeshdhakar.com
    -->
    <%= stylesheet_link_tag "4pdj" %>
    <%= javascript_include_tag "4pdj" %>
  </head>
  <body>
    <%= partial "partials/header" %>
    <%= partial "partials/breadcrumbs" %>
    <div id="main">
      <div class="container">
        <div class="row-toggle row-fluid">
          <section id='content' class="span9">
              <%= yield %>
          </section>
          <%= partial "partials/aside" %>
        </div>
      </div>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
