- breadcrumbs.unshift '<a href="/">Home</a>'
!!!
%html(lang="en")
  %head
    %title
      4pdj
      = yield_content :title
    %meta{:charset=>"utf-8"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %link{:rel=>"alternate", :href=>"/feed.xml", :title=>"4pdj", :type=>"application/atom+xml"}
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }
    = stylesheet_link_tag "4pdj"
    = javascript_include_tag "4pdj"
    = yield_content :head
  %body
    %header#header
      .row-fluid
        .span12
          = partial "partials/header"
    .container#main
      .row-fluid
        = partial "partials/breadcrumbs"
      .row-fluid
        = partial "partials/search"
      .row-fluid
        %section#content
          = yield
      %footer.row-fluid#footer
        = partial "partials/footer"
