---
<% breadcrumbs.unshift case page_type
			 when 'day' then Date.new(year, month, day).strftime('%b %e %Y')
                         when 'month' then Date.new(year, month, 1).strftime('%b %Y')
                         when 'year' then year
                       end  %>
<% breadcrumbs.unshift '<a href="'+blog_controller.options.prefix.to_s+'">'+blog_controller.name.to_s+'</a>' %>
<h1>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

