---
title: 4pdj - <%= category %>
---
<% breadcrumbs.unshift category %>
<% 2.times do |iter| %>
<div class="row">
  <% blog(category.to_sym).articles[0+(3*iter)..2+(3*iter)].each do |current_article| %>
    <article class="col-md-4">
      <header>
        <h1 class="headline"><a href="<%= current_article.url %>"><%= current_article.title.titleize %></a></h1>
      </header>
      <div class="article-content">
        <% if current_article.data['miniature'] %><img src="<%= current_article.data['miniature'] %>" class="thumbnail hidden-phone" alt="<%= current_article.title %>"><% end %>
        <%= current_article.summary %>
      </div>
    </article>
  <% end %>
</div>
<div class="row">
  <% blog(category.to_sym).articles[0+(3*iter)..2+(3*iter)].each do |current_article| %>
    <div class="col-md-4">
      <a href="<%= current_article.url %>" class="btn btn-default pull-right" role="button"><i class="icon-zoom-in"></i> read more</a>
    </div>
  <% end %>
</div>
<% end %>
