---
title: 4pdj
pageable: true
per_page: 5
---
<% page_articles.each_with_index do |article, i| %>
  <article>
    <header>
      <h1 class="headline"><a href="<%= article.url %>"><%= article.title %></a></h1>
    </header>
    <div class="article-content">
      <%= article.summary %>
    </div>
    <footer>
      <a href="<%= article.url %>" class="btn disabled"><i class="icon-zoom-in"></i> read more</a>
    </footer>
  </article>
<% end %>

<% if paginate %>
<ul class="pager">
  <li class="previous<% unless next_page %> disabled<% end %>">
    <%= link_to '&larr; Older', next_page %>
  </li>
  <li class="next<% unless prev_page %> disabled<% end %>"">
    <%= link_to 'Newer &rarr;', prev_page %>
  </li>
</ul>
<% end %>

