---
title: 4pdj - Baka Na Inu
pageable: true
blog: baka na inu
---
<% breadcrumbs.unshift 'Baka Na Inu' %>
<% if paginate %>
<div class="row">
  <ul class="pager">
    <li class="previous<% unless next_page %> disabled<% end %>">
      <%= link_to '&larr; Older', next_page %>
    </li>
    <li class="next<% unless prev_page %> disabled<% end %>">
      <%= link_to 'Newer &rarr;', prev_page %>
    </li>
  </ul>
</div>
<% end %>
<% page_articles.each do |page| %>
<div class="row">
  <article class="col-md-12">
    <header>
      <h1 class="headline"><a href="<%= page.url %>"><%= page.title.titleize %></a></h1>
      <div class="comment">
        <% if page.data['comment'] %>
        My comment:
        <%= page.data['comment'] %>
        <% end %>
      </div>
      <div class="source">
        <% if page.data['source'] %>
        from
        <a href="<%= page.data['source'] %>"><%= page.data['source'] %></a>
        <% end %>
      </div>
    </header>
    <div class="article-content">
      <% if page.data['miniature'] %><img src="<%= page.data['miniature'] %>" class="thumbnail visible-lg visible-md visible-sm" alt="<%= page.title %>"><% end %>
      <%= page.body %>
    </div>
    <footer class="footer blog_article">
      <div class="byline">
        By
        <address class="author">
          <a rel="author" href="<%= page.data['source'] %>" title="<%= page.data['author'] %>">
            <%= page.data['author'] %>
          </a>
        </address>
        added here at
        <time datetime="<%= page.date.strftime('%Y-%m-%d') %>">
          <%= page.date.strftime('%b %e, %Y') %>
        </time>
      </div>
      <% if page.data['tags'] %>
      <div class="tagline">
        Tagged as
        <% page.data['tags'].sort.each do |tag| %>
        <%= link_to tag, tag_path(tag,'baka na inu') %>
        <% if tag != page.data['tags'].sort.last %>
        ,
        <% end %>
        <% end %>
      </div>
      <% end %>
    </footer>
  </article>
</div>
<% end %>
<% if paginate %>
<div class="row">
  <ul class="pager">
    <li class="previous<% unless next_page %> disabled<% end %>">
      <%= link_to '&larr; Older', next_page %>
    </li>
    <li class="next<% unless prev_page %> disabled<% end %>"">
      <%= link_to 'Newer &rarr;', prev_page %>
    </li>
  </ul>
</div>
<% end %>

