---
title: 4pdj
per_page: 7
---
<% current_article = all_articles[0] %>
<div class="hero-unit">
  <% if current_article.data['hero'] %>
  <div class="row-fluid">
    <div class="span4 hidden-phone">
    <img src="<%= current_article.data['hero'] %>" alt="<%= current_article.title %>">
    </div>
  <% end %>
  <article <% if current_article.data['hero'] %>class="span8"<% end %>>
    <header>
      <h1 class="headline"><a href="<%= current_article.url %>"><%= current_article.title %></a></h1>
    </header>
    <div class="article-content">
      <%= current_article.summary %>
    </div>
    <footer>
      <a href="<%= current_article.url %>" class="btn disabled"><i class="icon-zoom-in"></i> read more</a>
    </footer>
  </article>
  <% if current_article.data['hero'] %>
  </div>
  <% end %>
</div>

<% 2.times do |iter| %>
<div class="row-fluid">
  <% all_articles[1+(iter*3)..3+(iter*3)].each do |current_article| %>
    <article class="span4">
      <header>
        <h1 class="headline"><a href="<%= current_article.url %>"><%= current_article.title %></a></h1>
      </header>
      <div class="article-content">
        <% if current_article.data['miniature'] %><img src="<%= current_article.data['miniature'] %>" class="thumbnail hidden-phone" alt="<%= current_article.title %>"><% end %>
        <%= current_article.summary %>
      </div>
      <footer>
        <a href="<%= current_article.url %>" class="btn disabled"><i class="icon-zoom-in"></i> read more</a>
      </footer>
    </article>
  <% end %>
</div>
<% end %>
