<!doctype html>
<html>
  <head>
    <title>4pdj</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
    <link rel="stylesheet" type="text/css" href="/css/4pdj.css">
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/4pdj.js"></script>
    <base href="/">
  </head>
  <body>
    <div id="navbar" class="navbar navbar-medium navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href='/'>4pdj</a>
          <ul class="nav">
            <li><a href='/feed.xml'><img src="/images/rss.svg" id="rss" alt="Syndication"/></a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/ptools'>PTools</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="main">
      <div class="container">
        <div class="row-toggle row-fluid">
          <aside id="sidebar-first" class="sidebar span3 hidden-phone">
            <div class="region-sidebar-first-affix affix-top" style="width:156px;">
              <div class="content">
		<h6><a href="#" data-toggle="collapse" data-target="#byyear">By year</a></h6>
		<ul id="byyear" class="collapse">
		  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                    <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</li>
                  <% end %>
                </ul>
                <h6><a href="#" data-toggle="collapse" data-target="#bytag">Tags</a></h6>
                <ol id="bytag" class="collapse">
                  <% blog.tags.sort.each do |tag, articles| %>
                    <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</li>
                  <% end %>
                </ol>
              </div>
            </div>
          </aside>
          <section id='content' class="span9">
              <%= yield %>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer" class="container-wrapper">
      <div class="footer-links pull-right">powered by middleman</div>
      <div class="container"><%= Time.now.year %> &copy; PdJ</div>
    </footer>
  </body>
</html>
